<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsu.mapper.leave.LeaveVoMapper">

    <resultMap id="BaseResultMap" type="com.lsu.vo.LeaveVo">
            <result property="leaveId" column="leave_id" jdbcType="INTEGER"/>
            <result property="initiationDate" column="initiation_date" jdbcType="TIMESTAMP"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="leaveCause" column="leave_cause" jdbcType="VARCHAR"/>
            <result property="aduitDate" column="aduit_date" jdbcType="TIMESTAMP"/>
            <result property="aduitStatus" column="aduit_status" jdbcType="VARCHAR"/>
            <result property="staffName" column="staff_name" jdbcType="VARCHAR"/>
            <result property="aduitName" column="aduit_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        leave_id,initiation_date,start_time,
        end_time,leave_cause,aduit_date,
        aduit_status,staff_name,aduit_name
    </sql>
</mapper>
