<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsu.mapper.store.RuleVoMapper">

    <resultMap id="BaseResultMap" type="com.lsu.vo.RuleVo">
            <result property="storeId" column="store_id" jdbcType="INTEGER"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="value" column="value" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="ruleName" column="rule_name" jdbcType="VARCHAR"/>
            <result property="ruleDetail" column="rule_detail" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        store_id,type,value,
        status,update_time,user_id,
        name,rule_name,rule_detail
    </sql>
</mapper>
